
ul#estilo_ul_cg{
 list-style-type: none;
}
/*genweb-base.css (línia 731)*/
.documentContent ul li {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-bottom:0.5em;
}

/*genweb-base.css (línia 739)*/
.documentContent ul li ul li {
list-style-image:none;
}
